.add-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;

  .content-wrapper {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  
    h2 {
      font-size: 2rem;
      color: #8b5e3c;
      margin-bottom: 20px;
      text-align: left;
    }
  
    .project-measurements-info {
      font-size: 0.95rem;
      color: #5c4631;
  
      ul {
        margin-top: 10px;
        padding-left: 20px;
  
        li {
          margin-bottom: 6px;
        }
      }
  
      p {
        margin-top: 10px;
      }
    }
  }
  

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        color: #5c4631;
        margin-bottom: 5px;
      }

      input,
      textarea {
        padding: 10px;
        font-size: 1rem;
        border: 2px solid #8b5e3c;
        border-radius: 5px;
        outline: none;
        background-color: #ffffff;
        transition: border-color 0.3s;

        &:focus {
          border-color: #a67b5b;
        }
      }

      textarea {
        min-height: 150px;
        resize: vertical;
      }

      input[type="file"] {
        cursor: pointer;
      }

      .file-name {
        margin-top: 5px;
        font-size: 0.9rem;
        color: #5c4631;
      }
    }

    .error {
      color: red;
      font-size: 0.9rem;
      text-align: center;
    }

    .success {
      color: green;
      font-size: 0.9rem;
      text-align: center;
    }

    button {
      padding: 12px 20px;
      background-color: #8b5e3c;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #a67b5b;
        transform: scale(1.05);
      }

      &:disabled {
        background-color: #d6c1a1;
        cursor: not-allowed;
      }
    }
  }
  .add-project-text {
    color: #5c4631;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .add-project-container {
    padding: 15px;
    margin: 20px;

    h2 {
      font-size: 1.8rem;
    }

    form {
      max-width: 100%;
    }
  }
}
