.home-container {
    width: 100%;
    height: auto; 
    transition: background-color 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #4A3F35;
    font-family: 'Lora', serif;
}

.section {
    width: 80%;
    max-width: 1000px;
    padding: 100px 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative; 

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #5C4631;
    }

    p {
        font-size: 1.2rem;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.6;
    }

   
    .image-carousel {
        width: 100%;
        max-width: 800px; 
        position: relative; 
        margin-top: 20px; 
    }
}
