$primary-color: #8B5E3C;
$hover-color: #A67B5B;
$text-color: #FAF3E0;
$bg-color: #5A3E2B;
$highlight-color: #4A3F35;
$white-color: #fff;
$light-bg-color: rgba(255, 255, 255, 0.8);

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-container {
    width: 100%;
    height: auto;
    transition: background-color 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $highlight-color;
    font-family: 'Lora', serif;
}

.section {
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

.section-content {
    background-color: $light-bg-color;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 1300px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    opacity: 1;
}

.company-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 150px;
    width: 100%;
}

.company-info {
    position: absolute;  
    bottom: 20px;  
    left: 20px;    
    text-align: left;  
    max-width: 400px;  
    padding: 20px;
}

.company-info p {
    font-size: 1.2rem;
    color: #5C4631;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.contact-button {
    padding: 0.75rem 1.5rem;
    background-color: $hover-color;
    color: $white-color;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $primary-color;
    }
}


h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.custom-services {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 900px;
        margin-bottom: 2rem;
        gap: 1rem;

        .carousel-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
        }

        .about-text {
            flex: 0 0 auto;
            max-width: 100%;
            text-align: center;

            p {
                font-size: 1.1rem;
                line-height: 1.6;
                color: #5C4631;
            }
        }
    }

    .bottom-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 900px;
        padding: 10px;

        .bottom-image {
            width: 50%;
            max-width: 400px;
            object-fit: cover;
        }

        .stats {
            display: flex;
            justify-content: space-between;
            width: 50%;
            text-align: center;
        }

        .stat-item {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .stat-item h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            color: $highlight-color;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .stat-item p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            color: #5C4631;
        }

        .divider {
            border-left: 4px solid $hover-color;
            height: 200px;
            margin: 0 20px;
            opacity: 0.8;
        }
    }
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $highlight-color;
}

p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}



.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;

    label {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        text-align: left;
        align-items: center; 
        justify-content: center;
        text-align: center;
    }

    input,
    textarea {
        align-items: center; 
        justify-content: center;
        text-align: center;
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 150%;
    }

    textarea {
        min-height: 120px;
        resize: vertical;
    }

    button {
        padding: 0.75rem 1.5rem;
        background-color: $hover-color;
        color: $white-color;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $primary-color;
        }
    }
}


.footer {
    width: 100%;
    background-color: $highlight-color;
    color: $white-color;
    padding: 3rem 1rem 2rem;
    font-family: 'Lora', serif;


    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 1200px; 
        margin: 0 auto;
        padding: 0 2rem; 

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-section {
            text-align: center;
            flex: 1; 

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin: 5px 0;
                }

                a {
                    color: $white-color;
                    text-decoration: none;
                    font-size: 1.1rem;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
    }

    .footer-bottom {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 2rem;
    }
}

.section-content.horizontal-layout {
    flex-direction: row;
    align-items: stretch;
    text-align: left;
    padding: 2rem;
    gap: 2rem;

    .service-left,
    .service-right {
        flex: 1;
    }

    .service-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .image-frame {
            max-width: 100%;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .service-right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .services-list ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                color: #5C4631;
            }
        }
    }
}

